# Data Extraction

In [8]:
#Import libraries
import pandas as pd
import numpy as np
import datasist as ds
import os
import glob

In [9]:
#Specify directory to read patient files
file_dir = glob.glob('data/set-a/*.txt')

#Specify format of DataFrame
df = pd.DataFrame(columns=['Patient', 'Time', 'Parameter', 'Value'])

#Read files in directory and append to DataFrame
for file in file_dir:
    with open(file) as f:
        df_read = pd.DataFrame(pd.read_csv(f), columns=['Time', 'Parameter', 'Value'])
        df_read['Patient'] = file
        df = df.append(df_read, ignore_index=True, sort=False)

In [10]:
#Display last few rows of data
df.tail()

                       Patient   Time Parameter  Value
1765298  data/set-c\163037.txt  47:27   DiasABP   47.0
1765299  data/set-c\163037.txt  47:27        HR   74.0
1765300  data/set-c\163037.txt  47:27       MAP   63.0
1765301  data/set-c\163037.txt  47:27    SysABP   99.0
1765302  data/set-c\163037.txt  47:27     Urine   30.0

In [11]:
#Extract Patient ID from file name
df['Patient'] = df['Patient'].str.extract('(\d+)')

In [12]:
#Extract hour
df['Hour'] = df['Time'].apply(lambda x: x.split(":")[0])

#Display last few rows of data
df.tail()

        Patient   Time Parameter  Value Hour
1765298  163037  47:27   DiasABP   47.0   47
1765299  163037  47:27        HR   74.0   47
1765300  163037  47:27       MAP   63.0   47
1765301  163037  47:27    SysABP   99.0   47
1765302  163037  47:27     Urine   30.0   47

In [13]:
#Save file
df.to_csv("df_SetC.csv")

# Convert to wide Pivot Table format

In [14]:
#Convert long format to wide Pivot Table format
df_pivot = pd.pivot_table(df.drop(['Hour'], axis=1), index=['Patient','Time'], columns=['Parameter'], values=['Value'])
df_pivot.head()

              Value                                                  \
Parameter       ALP ALT AST   Age Albumin BUN Bilirubin Cholesterol
Patient Time
152871  00:00   NaN NaN NaN  71.0     NaN NaN       NaN         NaN
        00:28   NaN NaN NaN   NaN     NaN NaN       NaN         NaN
        00:38   NaN NaN NaN   NaN     NaN NaN       NaN         NaN
        00:48   NaN NaN NaN   NaN     NaN NaN       NaN         NaN
        01:18   NaN NaN NaN   NaN     NaN NaN       NaN         NaN

                                  ...                                       \
Parameter     Creatinine DiasABP  ... RespRate SaO2 SysABP  Temp TroponinI
Patient Time                      ...
152871  00:00        NaN     NaN  ...      NaN  NaN    NaN   NaN       NaN
        00:28        NaN     NaN  ...      NaN  NaN    NaN   NaN       NaN
        00:38        NaN    59.0  ...      NaN  NaN  154.0   NaN       NaN
        00:48        NaN     NaN  ...      NaN  NaN    NaN   NaN       NaN
        01:18        NaN    36.0  ...      NaN  NaN   89.0  36.9       NaN


Parameter     TroponinT Urine WBC Weight  pH
Patient Time
152871  00:00       NaN   NaN NaN   79.2 NaN
        00:28       NaN   NaN NaN    NaN NaN
        00:38       NaN   NaN NaN    NaN NaN
        00:48       NaN   NaN NaN   79.2 NaN
        01:18       NaN   NaN NaN   79.2 NaN

[5 rows x 42 columns]

In [15]:
#Save file
df_pivot.to_csv('df_pivot_time_SetC.csv')